
html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.map-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;  
  align-items: center;  
  justify-content: center;      
  background-color: #f2f2f2;
  gap: 20px;                   
}

.leaflet-map {
  height: 40vh;
  width: 40vw;
  border-radius: 10px;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}